.add_nav {
    width: 100%;
    background: white;
}

.add_uu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    font-size: 1.4rem;
    color: rgba(51, 51, 51, 1);
    border-top: 1px solid #F2F2F2;
}

.add_uu li input {
    height: 90%;
    outline: none;
    text-align: right;
    border: 0;
}

.add_btn {
    display: block;
    width: 90%;
    height: 3.4rem;
    background: #0092ff;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    line-height: 3.4rem;
    margin: 2.2rem auto 0;
}