/* 订单 */


.nav_one {
    background: #fff;
    margin-bottom: 0.6rem;
}

.nav_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.2rem 0.5rem;
    border-bottom: 1px solid #F2F2F2;
    font-size: 1rem;
}

.nav_btn {
    font-size: 1rem;
    color: #868686;
}

.nav_mid {
    padding: 1rem;
}

.mid_uu {
    width: 100%;
}

.mid_uu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(248, 248, 248, 1);
    margin-bottom: 0.5rem;
}

.mid_uu_left {
    display: flex;
}

.mid_uu_left img {
    width: 5rem;
    height: 5rem;
    background: rgba(0, 146, 255, 1);
}

.mid_text {
    font-size: 1rem;
    line-height: 2.5rem;
    margin-left: 1rem;
    color: rgba(51, 51, 51, 1);
}

p.money {
    font-size: 1.5rem;
    color: rgba(51, 51, 51, 1);
    margin-right: 0.8rem;
}

.mid_money {
    /* padding: 0.9rem 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F2F2F2; */
    float: right;
    width: 5rem;
    height: 2rem;
    background: rgba(0, 146, 255, 1);
    border-radius: 4px;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
}