<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>进货管理</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/agent-in-product.css">
</head>

<body>
    <div id="app">
        <div class="nav_tag">
            <ul class="nav_uu">
                <li>
                    <span @click="tab(0)" :class="{active:cur==0}">待发送</span>
                </li>
                <li>
                    <span @click="tab(1)" :class="{active:cur==1}">已发送</span>
                </li>
                <li>
                    <span @click="tab(2)" :class="{active:cur==2}">已完成</span>
                </li>
            </ul>
        </div>
        <!--  -->
        <div class="nav_main">
            <div class="nav_one" v-for="(item,index) in list">
                <div class="nav_top">
                    <p>订单编号：2141351343</p>
                    <p style="color: #868686;" v-if="this.cur==0">2019-02-04 21:21</p>
                    <p style="color: #868686;" v-if="this.cur==1">完成</p>
                </div>

                <div class="nav_mid clearfix">
                    <ul class="mid_uu">
                        <li v-for="(arr,index) in order">
                            <div class="mid_uu_left">
                                <img src="img/雷姆.jpg" alt="">
                                <div class="mid_text">
                                    <p>采购商品名</p>
                                    <p>x 12</p>
                                </div>
                            </div>
                            <p class="money">¥124.12</p>
                        </li>
                    </ul>
                </div>

                <div class="nav_foot">
                    <p>总计：¥231.42</p>
                    <div class="foot_text">
                        <span @click="lookLog">{{item.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/api.js"></script>
<script src="js/vue.js"></script>
<script src="js/agent-in-product.js"></script>