<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="css/regsiter.css">
    <title>重置密码</title>
</head>

<body>
    <div id="app" class="content">
        <div class="regsiter">
            <div class="regsiter_wrap">
                <h4>重置密码</h4>
                <ul class="regsiter_uu">
                    <li>
                        <label class="title">手机号</label>
                        <input @input="limitLength('phone',11)" v-model="phone" maxlength="11" type="number"
                            placeholder="输入手机号">
                    </li>
                    <li>
                        <label class="title">新密码</label>
                        <input class="pasword" v-model="password" type="password" placeholder="输入密码">
                    </li>
                    <li>
                            <label class="title">确认密码</label>
                            <input class="pasword" v-model="password" type="password" placeholder="输入密码">
                        </li>
                </ul>
                <p class="regsiter-protocol">
                    注册代表同意<span class="stronger">《直销系统使用条款》</span>
                </p>
                <button class="regsiter_btn" @click="regsiter">注册</button>
            </div>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/vue.js"></script>
    <script src="js/vue-mixin.js"></script>
    <script src="js/regsiter.js"></script>
</body>

</html>