div.content{
    padding:5rem 0;
    overflow: scroll;
}
.order-user-info {
    height: 6rem;
    background: #FFFFFF;
    border-top: 2px solid #f6f6f6;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 1rem;
}
p.user-contact {
    color: #3E3E3E;
    font-size: 1.4rem;
}
p.user-contact,p.address-detail {
    margin: 0.5rem 0;
}
p.address-detail {
    color: #A6A6A6;
    font-size: 1.2rem;
}
ul.order-goods-list-wrapper {
    margin-top: 0.1rem;
    background: #FFFFFF;
}
img.goods-icon {
    width: 8rem;
    height: 8rem;
    border-radius: 0.2rem;
}
li.order-item {
    height: 10rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #f6f6f6;
}
.goods-detail {
    height: 100%;
    flex: 1;
    width: calc(100% - 8rem);
    padding-left: 1rem;
    position: relative;
}
p.goods-title {
    color: #000000;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
p.goods-category {
    color: #A6A6A6;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
p.goods-price-num {
    position: absolute;
    bottom: 0;
    left: 1rem;
    width: calc(100% - 1rem);
}
span.price {
    color: #5A6F93;
    font-size: 1.6rem;
}
span.post {
    color: #A6A6A6;
    font-size: 1.2rem;
    margin-left: 1rem;
}
span.num {
    position: absolute;
    color: #A6A6A6;
    font-size: 1.2rem;
    bottom: 0;
    right: 0;
}
.go-pay-operation {
    border-top: 1px solid #D8D8D8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    font-size: 1.6rem;
}
p.show-pay-money {
    color: #F47319;
}
p.show-pay-money {
    color: #F47319;
    padding-left: 1rem;
    flex: 1;
    height: 100%;
    line-height: 5rem;
}
a.go-pay-btn {
    text-decoration: none;
    height: 100%;
    line-height: 5rem;
    width: 30%;
    text-align: center;
    background: #0093FF;
    color: #FFFFFF;
}
.post-comments-refund {
    background: #FFFFFF;
}
p.post {
    color: #3E3E3E;
    font-size: 1.4rem;
    padding: 1rem;
    border-bottom: 1px solid #f6f6f6;
}
textarea.comments {
    width: 100%;
    height: 8rem;
    border: none;
    resize: none;
    padding: 1rem;
    font-size: 1.4rem;
    color: #3E3E3E;
}
textarea.comments::-webkit-input-placeholder {
    color: #A6A6A6;
}
p.refund {
    color: #3E3E3E;
    padding: 1rem;
    font-size: 1.4rem;
    border-top: 1px solid #f6f6f6;
}