.content {
    padding-top: 5rem;
    background: white;
}

.cash {
    padding-top: 1.5rem;
}

.cash_wrap {
    width: 92%;
    background: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 0 0.85rem;
}

.cash_wrap p {
    padding: 0.85rem 0;
    font-size: 1.4rem;
    color: rgba(62, 62, 62, 1);
    line-height: 1.7rem;
}

.cash_wrap input {
    font-size: 2.5rem;
    width: 98%;
    height: 11vw;
    outline: none;
    border: 0;
    color: #0093ff;
}

.cash_wrap input::-webkit-input-placeholder {
    color: #0093ff;
    font-size: 1.7rem;
}

.line {
    width: 100%;
    height: 1px;
    background: #eff4f7;
}

.cash_btn {
    display: block;
    width: 90%;
    height: 3.4rem;
    background: #0092ff;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    line-height: 3.4rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cash_nav {
    display: flex;
    align-items: center;
    padding: 2.3rem 0 0.85rem 0;
}
.cash_nav span {
    font-size: 2.5rem;
    color: #0093ff;
    margin-right: 0.85rem;
}