*{
    box-sizing: border-box;
}
html,body{
    background: #f6f6f6;
}
html,body,div.content{
    height: 100%;
}
/*底部菜单栏*/
nav.tool-bar-wrapper {
    height: 5rem;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a.nav-item {
    color: #888888;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
}
a.nav-item.active{
    color: #0093FF;
}
img.nav-item-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*顶部返回栏 */
nav.nav-bar-wrapper {
    background: #FFFFFF;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    font-size: 1.6rem;
    color: #426196;
}
img.back-icon {
    position: absolute;
    width: 1rem;
    left: 1rem;
}