*{
    box-sizing: border-box;
}
html,body{
    background: #f6f6f6;
}
/**nav bar*/
nav.tool-bar-wrapper {
    height: 3rem;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a.nav-item {
    color: #888888;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
}
a.nav-item.active{
    color: #0093FF;
}
img.nav-item-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.search-goods-item {
    width: 47%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    background: #ffffff;
    padding: 1rem;
    border-radius: 0.2rem;
    padding-bottom: 0;
}
p.goods-title {
    color: #3E3E3E;
    font-size: 1.6rem;
    width: 100%;
    padding: 0.3rem 0;
}
p.sell-counts {
    color: #A6A6A6;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.3rem 0;
}
p.price-wrapper {
    width: 100%;
    padding: 0.3rem 0;
}
span.current-price {
    color: #426196;
    font-size: 2.2rem;
}
span.original-price {
    color: #AAAAAA;
    font-size: 1.4rem;
    text-decoration: line-through;
}
p.shop-title {
    color: #A6A6A6;
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
}
p.shop-title::before {
    content: '';
    position: absolute;
    height: 1px;
    background: #F6F6F6;
    width: 47vw;
    top: 0;
    left: -1rem;
}