div.blur {
    height: 100%;
}
div.content{
    padding: 5rem 0;
    overflow: scroll;
}
div.blur.active{
    filter: blur(1rem);
}
.goods-pictures-wrapper ,.swiper-container-pictures{
    height: 30vh;
    max-height: 30vh;
    overflow: hidden;
}
img.slide-img{
    width: 100%;
    height: 100%;
}
.swiper-button-next, .swiper-button-prev,
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    outline: 0;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: url(../../img/left-arrow.png);
    background-size: 100% auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url(../../img/right-arrow.png);
    background-size: 100% auto;
}
.swiper-button-next, .swiper-button-prev {
    width: 3vw;
    height: 8vw;
}
.goods-detail-wrapper {
    margin-top: 0.2rem;
    background: #ffffff;
    padding: 1rem;
}
p.main-title-wrapper {
    color: #3E3E3E;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img.share-action-icon {
    width: 2rem;
}
p.goods-title-desc {
    font-size: 1.2rem;
    color: #A6A6A6;
    padding: 0.5rem 0;
}
.goods-price-delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}
p.goods-price {
    color: #E85B27;
    font-size: 2rem;
}
p.delivery-fee ,p.sell-counts-month{
    color: #A6A6A6;
    font-size: 1.2rem;
}
p.delivery-fee {
    margin-left: 5rem;
}
.tab-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    background: #fff;
    margin-top: 0.2rem;
}
.tab-bar-item {
    height: 100%;
    line-height: 4rem;
    color: #888888;
    font-size: 1.4rem;
    position: relative;
}
.tab-bar-item.active {
    color: #000000;
}
.tab-bar-item.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #FFD162;
    bottom: -2px;
    left: 0;
    border-radius: 1rem;
}
.operation-bar {
    border-top: 1px solid #E6E6E6;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #ffffff;
}
span.shop-cart,span.address {
    width: 20%;
    height: 2rem;
    position: relative;
    text-align: center;
}
img.shop-cart-icon,img.position-icon {
    width: 2rem;
    height: 100%;
}
a.add-to-cart,a.buy-now {
    border: none;
    height: 100%;
    outline: 0;
    flex: 1;
    line-height: 5rem;
    text-align: center;
    text-decoration: none;
}
a.add-to-cart {
    background: #C1E5FF;
    color: #000000;
    font-size: 1.6rem;
}
a.buy-now {
    background: #0093FF;
    color: #ffffff;
    font-size: 1.6rem;
}
.tab-content-wrapper {
    margin-top: 2px;
    background: #FFFFFF;
}
.content-detail img {
    width: 100%;
    height: auto;
    display: block;
}
.content-detail p {
    font-size: 1.4rem;
    padding: 1rem;
    line-height: 1.6rem;
    color: #3E3E3E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
i.num-icon {
    display: block;
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    background: #F47319;
    border-radius: 50%;
    top: -0.5rem;
    right: 15%;
}
img.review-all-icon {
    width: 0.8rem;
}
span.all-comments-title {
    color: #000000;
    font-size: 1.4rem;
}
img.user-logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.comment-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1rem;
}
.username-socre {
    flex: 1;
}
span.nickname {
    color: #000000;
    font-size: 1.4rem;
}
span.comment-date {
    color: #B6B6B6;
    font-size: 1.2rem;
}
p.username-date,p.score {
    margin-top: 0.2rem;
    padding: 0 1rem;
}
p.score{
    justify-content: flex-start;
}
img.score-icon {
    width: 1.5rem;
    margin-right: 0.3rem;
}
p.comment-img-wrapper {
    justify-content: flex-start;
}
img.comment-img {
    width: 15vw;
    height: 15vw;
    border-radius: 0.2rem;
    margin-right: 3.2vw;
}
.weui-photo-browser-modal{
    z-index: 3;
    background: transparent;
}
.photo-container {
    padding: 1rem;
}
.weui-photo-browser-modal .photo-container img{
    border-radius: 1rem;
}
span.preview-num {
    position: fixed;
    display: flex;
    min-width: 4rem;
    height: 2rem;
    z-index: 9;
    top: 70%;
    right: 2rem;
    border-radius: 5rem;
    background: rgba(89, 109, 145, 0.5);
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.weui-popup__modal {
    height: 80%;
    width: 96%;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-left: 2%;
    border-radius: 0.6rem;
    background: #ffffff;
}
p.price {
    color: #5A6F93;
    font-size: 1.6rem;
}
p.tips {
    color: #A6A6A6;
    font-size: 1.4rem;
    margin-top: 0.5rem;
}
.prce-show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 2px solid #f6f6f6;
}
.goods-mian-classify,.goods-sub-classify {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #F6F6F6;
}
p.main-classify-item,p.sub-classify-item {
    font-size: 1.4rem;
    padding: 0.75rem 1.5rem;
    border: 1px solid #666666;
    border-radius: 5rem;
    margin: 1rem 1.2rem;
    color: #666666;
}
p.classify-title {
    color: #3E3E3E;
    font-size: 1.4rem;
    padding: 1rem;
}
.buy-num {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #F6F6F6;
}
p.title {
    color: #3E3E3E;
    font-size: 1.4rem;
}
button.add-or-buy {
    background: #0093FF;
    width: 90%;
    border: none;
    outline: 0;
    border-radius: 5rem;
    font-size: 1.6rem;
    color: #FFFFFF;
    padding: 1rem;
    margin: 0.5rem auto;
    display: block;
}
span.reduce, span.add {
    width: 3rem;
    display: inline-block;
    height: 3rem;
}
img.add-reduce-icon {
    width: 100%;
}
p.num-choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span.show-num {
    min-width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.6rem;
}
p.main-classify-item.active,p.sub-classify-item.active {
    background: #0093FF;
    border: none;
    color: #FFFFFF;
}
img.close-popup {
    position: absolute;
    right: 1rem;
    z-index: 9;
    top: 1rem;
    width: 3rem;
    height: 3rem;
}
.weui-popup__modal.share {
    height: 45%;
}
p.share-title {
    color: #5A6F93;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    border-bottom: 1px solid #f6f6f6;
}
.share-list-wrapper {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
}
.share-item {
    width: 25%;
}
img.share-item-icon {
    width: 75%;
    height: auto;
}
.share-item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p.share-title-sub {
    color: #5A6F93;
    font-size: 1.4rem;
    margin-top: 0.5rem;
}
button.cancel-share {
    width: 90%;
    display: block;
    border: 1px solid #0093FF;
    outline: 0;
    background: transparent;
    border-radius: 5rem;
    padding: 1rem;
    color: #0093FF;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin: 0 auto;
}