html,body,div.content{
    height: 100%;
}
div.content {
    display: flex;
    flex-direction: column;
}
div.search-bar-wrapper{
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
input.search-input {
    width: 90%;
    border: none;
    height: 60%;
    border-radius: 0.1rem;
    background: #F6F6F6;
}
input::-webkit-input-placeholder {
    color: #A9B7CE;
    text-align: center;
}
.goods-classify-wrapper {
    display: flex;
    flex: 1;
}