div.content{
    display: flex;
    flex-direction: column;
}
.main-content-wrapper {
    flex: 1;
    overflow: scroll;
}
header.title {
    height: 5rem;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: #426196;
}
.show-img-wrapper {
    height: 30vh;
    max-height: 30vh;
}
.show-img-wrapper {
    height: 30vh;
    max-height: 30vh;
}
.swiper-pagination-bullet{
    background: url(../../img/dot.png) no-repeat;
    background-size: 100% 100%;
}