html,body{
    background: #ffffff;
}
h4 {
    color: #3E3E3E;
    text-align: center;
    height: 5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
li {
    width: 80%;
    border: 1px solid #999999;
    margin: 2rem auto;
    height: 3rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}