html,body{
    background: #ffffff;
}
h4 {
    color: #3E3E3E;
    text-align: center;
    height: 5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
li {
    width: 80%;
    border: 1px solid #999999;
    margin: 2rem auto;
    height: 3rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
label.title{
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
label.title::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background: #B6B6B6;
    left: 110%;
}
li input {
    border: none;
    flex: 0.8;
    outline: 0;
    font-size: 1.5rem;
}
input.pasword{
    color: #0093FF;
}
p.forget-pass {
    font-size: 1.5rem;
    color: #888888;
    text-align: right;
    margin: 1rem 4rem;
    cursor: pointer;
}
button.login_btn {
    background: #0093FF;
    outline: 0;
    border: none;
    border-radius: 10rem;
    height: 3rem;
    width: 80%;
    margin: 8rem auto;
    display: block;
    color: #ffffff;
    font-size: 1.75rem;
}
p.new-user-register{
    color: #888888;
    font-size: 1.5rem;
}