div.content{
    padding-top: 5rem;
}
ul.address-wrapper {
    background: #FFFFFF;
}
li.address-item {
    border-top: 1px solid #f6f6f6;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
label.title {
    color: #3E3E3E;
    font-size: 1.4rem;
    width: 20%;
}