div.content{
    padding-top: 5rem;
}
li.nearby-shops-item {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-top: 0.5rem solid #f6f6f6;
    padding: 1rem;
}
img.shop-icon {
    width: 8rem;
    height: 8rem;
}
.shop-detial {
    flex: 1;
    height: 8rem;
}
p.shop-title-distance {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span.shop-title {
    color: #000000;
    font-size: 1.6rem;
}