div.content {
    padding-top: 5rem;
}
.order-success-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    background: #FFFFFF;
    margin-top: 0.2rem;
}
img.order-success-icon {
    width: 35%;
    height: auto;
}
p.order-success-title {
    color: #00ABFF;
    font-size: 1.8rem;
    margin: 1rem;
}
p.show-actual-money {
    color: #3E3E3E;
    font-size: 1.4rem;
    margin: 1rem;
}
.order-detail-wrapper {
    margin-top: 0.2rem;
    background: #FFFFFF;
}
p.order-detail-title {
    color: #3E3E3E;
    font-size: 1.6rem;
}