div.content {
    padding-top: 5rem;
}

.show-img-wrapper {
    height: 30vh;
    max-height: 30vh;
}

img.slide-img {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    background: #7C7C7C;
}
.swiper-pagination-bullet-active {
    background: #D8D8D8;
} 
img.score-icon {
    width: 1.5rem;
    margin-right: 0.5rem;
}