<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>库存管理</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/product-detail.css">
</head>

<body>
    <div id="app" class="content">
        <nav class="nav-bar-wrapper">
            <img src="../img/back.png" class="back-icon">
            <p class="nav-bar-title">商品详情</p>
        </nav>
        <div class="product_banner">
            <div class="swiper-container ">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="item in arr">
                        <img src="../img/雷姆.jpg" class="slide_img" alt="">
                    </div>
                </div>
                <!-- <div class="swiper-pagination"></div> -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>

        <div class="product_mid">
            <h4>产品名称</h4>
            <p class="title">产品名称</p>
            <div class="mid_bot">
                <p class="cash">¥ 123.00</p>
                <div class="mid_text">
                    <p>快递: 免邮</p>
                    <p>月销量：123件</p>
                </div>
            </div>
        </div>

        <div class="product_nav">
            <ul class="nav_uu">
                <li @click="tab(0)" :class="{color:cur==0}">商品详情</li>
                <li @click="tab(1)" :class="{color:cur==1}">基本信息</li>
                <li @click="tab(2)" :class="{color:cur==2}">买家评论</li>
            </ul>
        </div>
        <!-- 详情 -->
        <div class="product_tab">
            <div class="tab_one" v-show="cur == 0">
                <div class="tab_one_img" v-for="item in imgList">
                    <img src="../img/雷姆.jpg" alt="">
                </div>
            </div>
            <div class="tab_two" v-show="cur == 1">
                <ul class="tab_two_uu">
                    <li>茶类：铁观音</li>
                    <li>产品名称：董点茶 铁观音</li>
                    <li>净含量：100 g ～1000 g</li>
                    <li>生产时间：见包装打码</li>
                    <li>生产许可证编号：SC1344554654</li>
                    <li>产品标准号：Q/TY 123S-2015</li>
                    <li>厂名：某某某有限公司</li>
                    <li>厂址：某某某路</li>
                    <li>配料表：</li>
                    <li>储存方式：清洁、通风、避光、干燥、无异味</li>
                    <li>保质期：3年</li>
                    <li>食品添加剂：无</li>
                </ul>
            </div>
            <div class="tab_three" v-show="cur == 2">
                <h5>全部评论(12)</h5>
                <div class="tab_wrap">
                    <img src="../img/雷姆.jpg" alt="" class="tab_wrap_img">
                    <ul class="wrap_uu">
                        <li class="li_one">
                            <span class="wrap_name">用户名</span>
                            <span class="wrap_month">03月23日</span>
                        </li>
                        <li style="margin: 0.2rem 0 1rem;">
                            <span class="star" title="1"></span>
                            <span class="star" title="2"></span>
                            <span class="star" title="3"></span>
                            <span class="star" title="4"></span>
                            <span class="star" title="5"></span>
                        </li>
                        <li>
                            <p class="wrap_pp">
                                发个建行卡给顾客
                                如果很多感慨风格
                                的风格的风格放个
                                假风格风格及风格
                                感给人家结果放个
                                假风格风格更尴尬
                                风格风格风格肤发
                                广告的风格风格风格
                            </p>
                        </li>
                        <li class="lis_for">
                            <img class="lis_img" v-for="n in 5" src="../img/雷姆.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <span class="tab_btn" @click="share">分享</span>
        </div>

        <!-- 遮罩 -->
        <div class="shade" v-show="isshade">
            <div class="share">
                <span @click="shareWX"></span>
                <span @click="shareQQ"></span>
                <span @click="shareLJ"></span>
                <span @click="close"></span>
            </div>
        </div>
    </div>
</body>

</html>
<script src="../js/jquery.min.js"></script>
<script src="../js/swiper.min.js"></script>
<script src="../js/api.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/product-detail.js"></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>